body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #FFF;
  {% if site.page-col %}
  background: {{ site.page-col }};
  {% endif %}
  {% if site.page-img %}
  background-image: url({{ site.page-img }});
  background-attachment: fixed;
  {% endif %}
}
