.history {
  display: grid;
  grid-template-areas: "analytics date sailing";
  background-color: $background-color;
  //grid-template-columns: 75px 35% 35% 20%;
  grid-template-columns: auto auto auto;
  width: auto;

}


.column {
 text-align: center;
 font-weight: 900;
 color: $background-color;
 //padding: 0px 5px;
 font-family: $second-font-family;
}


.content {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: $grey-color-dark;
  font-family: $base-font-family;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 10px 0px;
  font-size: 110%;
  word-wrap: break-word;
  opacity: 0.85;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;  

  position: relative;

}

.content:hover:not(.year) {
  opacity: 1;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.type {
font-style: italic;
text-transform: none;
font-size: 14px;
font-weight: 600;
//letter-spacing: 0px;
line-height: 14px;
color: $grey-color-dark;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);



}

.location {
font-style: italic;
font-size: 12px;
text-transform: none;
font-weight: 600;
letter-spacing: 0px;
color: $grey-color-dark;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);


}

.text {
  font-size: 16px;
  font-family: $base-font-family;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 400;
  color: $grey-color;
  text-align: left;
  padding: 10px 15px;
  line-height: 20px;
  word-wrap: break-word;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);


}

.detail {
  display:block;
}

.shorter{
  display:none;
}

@media screen and (max-width: 800px) {
    .detail{display:none;}
    .shorter{display:block;}
}

/*
.date {
  color: lighten(#999, 15%);
  text-align: center;
}
*/
.year {
  padding-bottom: 250px;
  text-align: center;
  color: #999;
  font-size: 14px;
  box-shadow: none;
  position: relative;
  //min-width: 20px;
  text-transform: lowercase;
  padding-left: 10px;
  padding-right: 10px;
}

.year:first-child {
  padding-top: 20px;
}

.year:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 45px;
  bottom: 0;
  left: 50%;
  border-left: 2px dashed $grey-color-light;
  transform: translate(-50%);  
}


.current {
  padding-bottom: 250px;
}

.bottom {
  padding-bottom: 200px;
  
}


.analytics {
  //color: #85144b;

}

.aa {
  //background: transparent;
  transition: .5s;


}


.oracle {
  height: 450px;
  &:hover {background: red;
    .text {
    color: $background-color;
  }}
}

.adobe {
  height: 350px;
  &:hover {background: mediumspringgreen;}
}

.scu {
  height: 750px;
  &:hover {background: #b50043;
  .text {
    color: $background-color;
  }}
}

.workr {
  height: 250px;
  &:hover {background: #ef5734;}

}

.workr-kyc-gap {
  height: 100px;
}

.kyc {
  height: 800px;
  &:hover {background: skyblue;}

}

.sailing {
  //color: darken(#7FDBFF, 50%);

}

.ss {
  //background: darken(#7FDBFF, 35%);
  transition: .5s;
}


.fa-trophy {
  position: relative;
  display: block;
  left: 15px; /* Adjust as needed */
  top: 9px; /* Adjust as needed */
  float: left;
  padding-right: 17px;
  color: yellow;
  font-size: 120%;
}

.fa-certificate {
  color: yellow;
}


.aldo {
  height: 150px;
  &:hover {background: paleturquoise;}
}

.westpoint {
  height: 160px;
  &:hover {background: coral;}

}

.gg {
  height: 160px;
  &:hover {background: deepskyblue;}

}

.bbs {
  height: 200px;
  &:hover {background: green;
      .text {
    color: $background-color;
  }}

}

.bb-college-gap {
  height: 150px;
}

.college {
  height: 600px;
  &:hover {background: #b50043;
  .text {
    color: $background-color;
  }}
}

.youths {
  height: 300px;
  &:hover {background: gold;}

}

.cisa {
  height: 150px;
  &:hover {background: crimson;}

}

.bemis {
  height: 300px;
  &:hover {background: mediumpurple;
    .text {
    color: $background-color;
  }}

}

.states {
  height: 200px;
  &:hover {background: mediumaquamarine;}

}

.traps {
  height: 300px;
  &:hover {background: lightsteelblue;}

}


.trading {
  color: #006400;
}

/*
.tt {
  background: linear-gradient(to top, #1FA463, #03CEA4); 

  &:hover {
    background: #006400;
  }
}

.options {
  height: 300px;
}

.equity {
  height: 800px;
}
*/