.timeline {
  display: grid;
  grid-template-areas: "date analytics sailing trading";
  background-color: #fff;
  grid-template-columns: 10% 35% 35% 20%;


}

.column {
 text-align: center;
 font-weight: 300;
 color: $background-color;
 padding: 0px 5px;
 font-family: $second-font-family;
}


.content {
  background-color: white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  color: $background-color;
  font-family: $base-font-family;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px 0px;
  font-size: 110%;
  word-wrap: break-word;
}

.detail {
  font-size: 90%;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 300;
  color: $text-color;
  text-align: left;
  padding: 10px;
}


.date {
  color: #999;
}
.year {
  padding: 70px 10px;
  background-color: darken($background-color, 5%);
  color: #999;
  font-size: 200%;
}
.current {
  padding: 20px 10px;
}



.analytics {
  color: #b71c1c;
}

.aa {
  background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);

    &:hover {
    background: #b71c1c;
  }
}

.oracle {
  height: 500px;
}

.adobe {
  height: 250px;
}

.workr {
  height: 200px;
}

.kyc {
  height: 600px;
}

.sailing {
  color: lighten(#01579b, 15%);
}

.ss {
  background: linear-gradient(to right, #83a4d4, #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:hover {
    background: #01579b;
  }
}

.aldo {
}

.westpoint {

}

.gg {
  height: 50px;
}

.bbs {
  height: 60px;
}

.college {
  height: 500px;
}

.youths {
  height: 300px;
}

.cisa {
}

.bemis {
  height: 400px;
}

.states {
  height: 400px;
}

.traps {
  height: 200px;
}


.trading {
  color: #ff8f00;
}

.tt {
  background: linear-gradient(to right, #eacda3, #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:hover {
    background: #ff8f00;
  }
}

.options {
  height: 300px;
}

.equity {
  height: 800px;
}