.timeline {
  display: grid;
  grid-template-areas: "date analytics sailing trading";
  background-color: #fff;
  grid-template-columns: 10% 30% 30% 30%;


}

.column {
 text-align: center;
 font-weight: 900;
 color: white;
 padding: 0px 5px;
 font-family: $second-font-family;
}


.content {
  background-color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  color: #fdfdfd;
  font-family: $base-font-family;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 10px 0px;
  font-size: 110%;
  word-wrap: break-word;
}

.detail {
  font-size: 90%;
  text-transform: none;
  font-weight: 300;
  color: black;
  text-align: left;
  padding: 10px;
}


.date {
  color: $grey-color;
}
.year {
  padding: 70px 10px;
  background-color: $grey-color-light;
  color: black;
  font-size: 200%;
}
.current {
  padding: 20px 10px;
}



.analytics {
  color: #85144b;
}

.aa {
  background-color: lighten(#ff4136, 5%);

    &:hover {
    background-color: lighten(#ff4136, 20%);
  }
}

.oracle {
  height: 500px;
}

.adobe {
  height: 200px;
}

.workr {
  height: 150px;
}

.lodge {
  height: 200px;
}

.kyc {
  height: 600px;
}

.sailing {
  color: #0080ff;
}

.ss {
  background-color: #0080ff;

  &:hover {
    background-color: lighten(#0080ff, 15%);
  }
}

.aldo {
}

.westpoint {

}

.gg {
  height: 50px;
}

.bbs {
  height: 60px;
}

.college {
  height: 500px;
}

.youths {
  height: 100px;
}

.cisa {
}

.bemis {
  height: 200px;
}

.states {
  height: 200px;
}

.traps {
  height: 200px;
}


.trading {
  color: #2ecc40;
}

.tt {
  background-color: #2ecc40;

  &:hover {
    background-color: lighten(#2ecc40, 15%);
  }
}

.options {
  height: 400px;
}

.equity {
  height: 600px;
}