.timeline {
  display: grid;
  grid-template-areas: "date analytics sailing trading";
  background-color: $background-color;
  //grid-template-columns: 75px 35% 35% 20%;
  grid-template-columns: auto auto auto;
  width: auto;

}


.column {
 text-align: center;
 font-weight: 300;
 color: $background-color;
 padding: 0px 5px;
 font-family: $second-font-family;
}


.content {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: $background-color;
  font-family: $base-font-family;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px 0px;
  font-size: 110%;
  word-wrap: break-word;

  opacity: 0.85;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;  

}

.content:hover:not(.year) {
  opacity: 1;
  //color: gold;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);

}

.type {
font-style: italic;
text-transform: none;
font-size: 14px;
font-weight: 300;
//letter-spacing: 0px;
line-height: 14px;
color: $grey-color-light;


}

.location {
font-style: italic;
font-size: 12px;
text-transform: none;
font-weight: 300;
letter-spacing: 0px;
color: $grey-color-light;

}

.text {
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 300;
  color: $background-color;
  text-align: left;
  padding: 10px 15px;
  line-height: 20px;
  word-wrap: break-word;
}

.detail {
  display:block;
}

.shorter{
  display:none;
}

.summary{
  display:none;
}

@media screen and (max-width: 800px) {
    .detail{display:none;}
    .shorter{display:block;}
    .summary{display:none;}
}

@media screen and (max-width: 600px) {
    .detail{display:none;}
    .shorter{display:none;}
    .summary{display:block;}
    width: 100%;
}


.date {
  color: lighten(#999, 15%);
  text-align: center;
}
.year {
  padding-bottom: 300px;
  text-align: center;
  color: #999;
  font-size: 14px;
  box-shadow: none;
  position: relative;
  //min-width: 20px;
}

.year:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 45px;
  bottom: 0;
  left: 50%;
  border-left: 3px dotted $grey-color-light;
  transform: translate(-50%);  
}


.current {
  padding-bottom: 250px;
}

.bottom {
  padding-bottom: 200px;
  
}


.analytics {
  color: lighten(#e3655b, 15%);
}

.aa {
  background: #e3655b;
}

.oracle {
  height: 450px;
}

.adobe {
  height: 300px;
}

.scu {
  height: 750px;
}

.workr {
  height: 200px;
}

.workr-kyc-gap {
  height: 100px;
}

.kyc {
  height: 800px;
}

.sailing {
  color: lighten(#3891a6, 15%);
}

.ss {
  background: #3891a6;
}

.aldo {
  height: 150px;
}

.westpoint {
  height: 150px;

}

.gg {
  height: 160px;
}

.bbs {
  height: 200px;
}

.bb-college-gap {
  height: 150px;
}

.college {
  height: 600px;
}

.youths {
  height: 300px;
}

.cisa {
  height: 150px;
}

.bemis {
  height: 300px;
}

.states {
  height: 200px;
}

.traps {
  height: 300px;
}


.trading {
  color: #006400;
}

/*
.tt {
  background: linear-gradient(to top, #1FA463, #03CEA4); 

  &:hover {
    background: #006400;
  }
}

.options {
  height: 300px;
}

.equity {
  height: 800px;
}
*/