---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "history";

.top-border {
  border-top: 3px solid;

  //rainbow border-image: linear-gradient(to right, #9e0142 0%, #9e0142 5%, #d53e4f 9%, #d53e4f 14%, #f46d43 18%, #f46d43 23%, #fdae61 27%, #fdae61 32%, #fee08b 36%, #fee08b 41%, #ffffbf 46%, #ffffbf 50%, #e6f598 55%, #e6f598 59%, #abdda4 64%, #abdda4 68%, #66c2a5 73%, #66c2a5 77%, #3288bd 82%, #3288bd 86%, #5e4fa2 91%, #5e4fa2 96%, #5e4fa2 100%);
  //green to pink border-image: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  //mango border-image: linear-gradient(to right, #c71d6f 40%, #d09693 80%);
  border-image: linear-gradient(to right, #874da2 0%, #c43a30 100%); //wine

  border-image-slice: 1;
}


//table styles
table {
  border-spacing: 10px;
  border-collapse: collapse;
  margin: 0 auto $spacing-unit;
  border: 1px solid $grey-color-light;
  line-height: 1.4;

}

th, td {
  @media (max-width: 600px) {
  font-size: 95%;
  padding: 1px 10px 1px 10px !important;
  }
}

td {
	padding: 5px 15px;
	color: #2a2a2a;
}

th {
	padding: 5px 15px;
    color: $background-color;
    background: $table-color;
    font-weight: 300;
}

tr:hover td{
  background-color: #fff9c4;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

tr:nth-child(even) { background-color: #f6f6f6;}
tr:nth-child(odd) { background-color: #e9e9e9;}



//video embeds
.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




//TABLE OF CONTENTS

#markdown-toc {
  //the whole thing

    /* floating toc
    position: absolute;
    left: 0;
    top: 50px;
    */

    counter-reset: first;
    display: table;
    font-family: $base-font-family;
    font-size: 125%; //overall size
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 1px;
    margin: 0 auto 0 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    /*
    position: fixed;
    left: 0em;
    top: 0em;
    @media screen and (max-width: 600px) { 
      position: relative; 
    }
    */

    a {
      color: $grey-color;
      font-weight: 300;
      transition:.3s;

      &:hover {
        color: #33A1C9;

        text-decoration: none;
        font-weight: bold;
      }
    }

    li {
      counter-increment: first;
      list-style: none;
      background: darken($background-color, 5%);
      font-size: 90%; //ratio of levels to themselves
      margin-bottom: 5px;
      padding: 1px 0px 1px 2px;
      line-height: 1.7;
      //2nd lvl

      &:before {
        display: inline;
        content: counter(first);
        margin-right: 3px;
        padding: 3px 8px;
        border-radius: 2px;
        //background: lighten(#f33, 15%);
        //background: #85144b;
        font-size: 90%;
        text-align: center;
        font-weight: bold;
        //color: $background-color;
        color: #85144b;
      transition: .3s;


      }
    }
    li:hover::before{
      background: #85144b;
      color: #fdfdfd;
    }

    ul > li > ul > li {
      display: inline;
      margin-right: 5px;

      @media screen and (max-width: 600px) { 
      display: block; 
    }
  }

    li {
      @media screen and (max-width: 600px) {  
      padding-right: 20px !important;

    }
  }

}




//title icon

.site-title {  //::after
  content: "";
  float: right;
  display: inline-block;
  margin-left: 8px;
  margin-top: 2px;
  width: 52px;
  height: 64px;
  position: absolute;
  background-image: url('/assets/shaka.svg');
  background-repeat: no;
  opacity: .5;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    -webkit-backface-visibility: hidden;

  &:hover {
    transform: rotate(20deg);
    -webkit-transform-origin: 30% 60%;
    opacity: .8;
  }
}

