---
layout: default
permalink: /timeline/
---

<div class="timeline">

    <div class="date column">yr
        <div class="year content current">2017</div>
        <div class="year content">2016</div>
        <div class="year content">2015</div>
        <div class="year content">2014</div>
        <div class="year content">2013</div>
        <div class="year content">2012</div>
        <div class="year content">2011</div>
        <div class="year content">2010</div>
        <div class="year content">2009</div>
        <div class="year content">2008</div>

    </div>



    <div class="analytics column">Career
        <div class="aa content oracle">Oracle
            <div class="type">RE&F BizOps
            </div>               
            <div class="location">Redwood Shores, CA
            </div>          
            <div class="detail">I work here!
            </div>
        </div>
        <div class="aa content adobe">Adobe
            <div class="type">MIO Busn Insights
            </div>               
            <div class="location">San Jose, CA
            </div>                     
            <div class="detail">I interned here!
            </div>
        </div>
        <div class="aa content workr">Workr
            <div class="type">Product Management
            </div>               
            <div class="location">Mountain View, CA
            </div>                    
            <div class="detail">I was the 3rd employee!
            </div>
        </div>
        <div class="aa content kyc">Kaneohe Yacht Club
            <div class="type">Sailing Instruction
            </div>               
            <div class="location">Kaneohe, HI
            </div>                    
            <div class="detail">Advanced Racing
            </div>
        </div>

    </div>


    <div class="sailing column">Sailing
        <div class="ss content aldo">Aldo Alessio
            <div class="type">Soto 30 Gentoo
            </div>               
            <div class="location">St Francis YC
            </div>                    
            <div class="detail">1st PHRF</div>
        </div>

        <div class="ss content westpoint">Westpoint '17
            <div class="type">Moore 24 Firefly
            </div>               
            <div class="location">Sequoia YC
            </div>   
            <div class="detail">1st ULDP</div>
        </div>

        <div class="ss content gg">Golden Gate Mids
            <div class="type">Soto 30 Gentoo
            </div>               
            <div class="location">Golden Gate YC
            </div>   
            <div class="detail">1st PHRF 2</div>
        </div>

        <div class="ss content bbs">Big Boat '16
            <div class="type">Soto 30 Gentoo
            </div>               
            <div class="location">St Francis YC
            </div>   
            <div class="detail">1st Sportboat</div>
        </div>

        <div class="ss content college">College Sailing
            <div class="type">FJ, Z420, Laser
            </div>               
            <div class="location">West Coast, USA
            </div>   
            <div class="detail">various</div>
        </div>
        <div class="ss content youths">Youth Champs
            <div class="type">C420
            </div>               
            <div class="location">Gorge, OR and San Pedro, CA
            </div>   
            <div class="detail">2011 2012</div>
        </div>
        <div class="ss content cisa">CISA
            <div class="type">C420
            </div>               
            <div class="location">Long Beach, CA
            </div>   
            <div class="detail">2010</div>
        </div>
        <div class="ss content bemis">Jr National Champs
            <div class="type">C420
            </div>               
            <div class="location">all over USA
            </div>   
            <div class="detail">2009 2010 2011</div>
        </div>
        <div class="ss content states">Hawaii State Champs
            <div class="type">C420
            </div>               
            <div class="location">Kaneohe, HI
            </div>   
            <div class="detail">2009 2010</div>
        </div>
        <div class="ss content traps">Traps and Chutes
            <div class="type">C420
            </div>               
            <div class="location">Kaneohe, HI
            </div>   
            <div class="detail">2008 2009 2010</div></div>


    </div>


    <div class="trading column">Trading
    <div class="tt content options">Options</div>
    <div class="tt content equity">Equity</div>

    </div> 



</div>