---
layout: default
permalink: /timeline/
---

<div class="timeline">

    <div class="date column">yr
        <div class="year content current">2017</div>
        <div class="year content">2016</div>
        <div class="year content">2015</div>
        <div class="year content">2014</div>
        <div class="year content">2013</div>
        <div class="year content">2012</div>
        <div class="year content">2011</div>
        <div class="year content">2010</div>
        <div class="year content">2009</div>
        <div class="year content">2008</div>

    </div>



    <div class="analytics column">Career
        <div class="aa content oracle">Oracle
            <div class="type">RE&F BizOps
            </div>               
            <div class="location">Redwood Shores, CA
            </div>          
            <div class="detail">Oracle HQ leads Corporate Real Estate, winning the Outstanding Building of the Year (TOBY) in commercial building management, as well as building Design Tech High School right here on campus!  I work here!  </br> 
                                I was awarded the REF Global Employee Recognition Award in FY16Q4.
            </div>
        </div>
        <div class="aa content adobe">Adobe
            <div class="type">MIO Busn Insights
            </div>               
            <div class="location">San Jose, CA
            </div>                     
            <div class="detail">We owned global Adobe.com marketing performance and built a CEO-sponsored tool to predict marketing attribution across channels.  I interned here for a full year!
            </div>
        </div>
        <div class="aa content workr">Workr
            <div class="type">Product Management
            </div>               
            <div class="location">Mountain View, CA
            </div>                    
            <div class="detail">We created online knowledge communities through template marketplaces.  I was the 3rd employee!
            </div>
        </div>
        <div class="aa content kyc">Kaneohe Yacht Club
            <div class="type">Sailing Instruction
            </div>               
            <div class="location">Kaneohe, HI
            </div>                    
            <div class="detail">Advanced Race coaching
            </div>
        </div>

    </div>


    <div class="sailing column">Sailing
        <div class="ss content aldo">Aldo Alessio
            <div class="type">Soto 30 Gentoo
            </div>               
            <div class="location">St Francis YC
            </div>                    
            <div class="detail">1st - PHRF</div>
        </div>

        <div class="ss content westpoint">Westpoint '17
            <div class="type">Moore 24 Firefly
            </div>               
            <div class="location">Sequoia YC
            </div>   
            <div class="detail">1st - ULDP</div>
        </div>

        <div class="ss content gg">Golden Gate Mids
            <div class="type">Soto 30 Gentoo
            </div>               
            <div class="location">Golden Gate YC
            </div>   
            <div class="detail">1st - PHRF 2</div>
        </div>

        <div class="ss content bbs">Rolex Big Boat '16
            <div class="type">Soto 30 Gentoo
            </div>               
            <div class="location">St Francis YC
            </div>   
            <div class="detail">1st - Sportboat</div>
        </div>

        <div class="ss content college">College Sailing
            <div class="type">FJ, Z420, Laser
            </div>               
            <div class="location">West Coast, USA
            </div>   
            <div class="detail">President and PCCSC Exec Committee, 2yrs.  Trailered as far south as San Diego for regional events.  Girls went to nationals 2x.</div>
        </div>
        <div class="ss content youths">Youth Sailing Champs
            <div class="type">C420
            </div>               
            <div class="location">USA
            </div>   
            <div class="detail">2011 - San Pedro, CA<br/>
                                2012 - Gorge, OR</div>
        </div>
        <div class="ss content cisa">CISA
            <div class="type">C420
            </div>               
            <div class="location">Long Beach, CA
            </div>   
            <div class="detail">California International Sailing Association.  Attended clinic in 2010.</div>
        </div>
        <div class="ss content bemis">Junior Nationals
            <div class="type">C420
            </div>               
            <div class="location">USA
            </div>   
            <div class="detail">2009 - Marblehead, MA<br/>
                                2010 - San Diego, CA<br/>
                                2011 - Toms River, NJ</div>
        </div>
        <div class="ss content states">Hawai'i States
            <div class="type">C420
            </div>               
            <div class="location">Kaneohe, HI
            </div>   
            <div class="detail">1st - 2009</br>
                                1st - 2010</div>
        </div>
        <div class="ss content traps">Traps & Chutes
            <div class="type">C420
            </div>               
            <div class="location">Kaneohe, HI
            </div>   
            <div class="detail">1st - 2008</br>
                                1st - 2009</br>
                                1st - 2010</br>
            </div>
        </div>

    </div>


    <div class="trading column">Trading
    <div class="tt content options">Options</div>
    <div class="tt content equity">Equity</div>

    </div> 



</div>