---
layout: default
permalink: /timeline/
---

<div class="timeline">








    <div class="analytics column">Career
    <!-- 
        <div class="aa content ??">??</div> 
    -->

        <div class="aa content oracle">Oracle
            <div class="type">RE&F BizOps
            </div>               
            <div class="location">Redwood Shores, CA
            </div>          
            <div class="detail text">
                I work here! 
                </br> 
                Oracle HQ leads Corporate Real Estate, winning the Outstanding Building of the Year (TOBY) in commercial building management, the BOMA 360 award for sustainability, as well as building Design Tech High School right here on campus!   
                </br></br>
                I was awarded the REF Global Employee Recognition Award in FY16Q4 for spearheading the worldwide rollout of Unifier, a department-specific ERP.
            </div>
            <div class="shorter text">
                Oracle leads Corporate Real Estate!  See: TOBY, BOMI, Design Tech HS.  I work here!  
                </br>
                I was awarded the REF Global Employee Recognition Award in FY16Q4.
            </div>
            <div class="summary text">I work here!</div>
        </div>

        <div class="aa content adobe">Adobe
            <div class="type">MIO Busn Insights
            </div>               
            <div class="location">San Jose, CA
            </div>                     
            <div class="detail text">
                Our team was the analytical head of marketing insights.  
                </br></br>
                We owned global Adobe.com marketing performance and built a CEO-sponsored tool to predict marketing attribution across channels.  I interned here for a full year!
            </div>
            <div class="shorter text">
                Our team reported on Adobe.com and built MMX, a predictive analytics tool.  I interned here for a full year!
            </div>
            <div class="summary text">I interned here for a full year!</div>
        </div>

<div class="aa content scu">Santa Clara University
            <div class="type">Finance/MIS
            </div>               
            <div class="location">Santa Clara, CA
            </div>                     
            <div class="detail text">
                I graduated in 2015 from Santa Clara University's Leavey School of Business with a BSc in Finance and a minor in Management Info Systems.
            </div>
            <div class="shorter text">
                Graduated 2015 with Finance/MIS from SCU Leavey Business School.  
            </div>
            <div class="summary text">'15 LSB Finance/MIS.</div>
        </div>

        <div class="aa content workr">Workr
            <div class="type">Product Management
            </div>               
            <div class="location">Mountain View, CA
            </div>                    
            <div class="detail text">
                We created online knowledge communities through template marketplaces. </br> I was the 3rd employee!
            </div>
            <div class="shorter text">
                We created online knowledge communities through template marketplaces.  I was the 3rd employee!
            </div>
            <div class="summary text">I was the 3rd employee!</div>
        </div>

        <div class="workr-kyc-gap"></div>

        <div class="aa content kyc">Kaneohe Yacht Club
            <div class="type">Sailing Instruction</div>               
            <div class="location">Kaneohe, HI</div>                    
            <div class="detail text">Advanced Race coaching</div>
            <div class="shorter text">Advanced Race coaching</div>
            <div class="summary text">I taught sailing here!</div>
        </div>

    </div>


    <div class="date column">yr
        <div class="year content current detail">2017</div>
            <div class="year content current shorter">'17</div>
            <div class="year content current summary">17</div>

        <div class="year content detail">2016</div>
            <div class="year content shorter">'16</div>
            <div class="year content summary">16</div>

        <div class="year content detail">2015</div>
            <div class="year content shorter">'15</div>
            <div class="year content summary">15</div>

        <div class="year content detail">2014</div>
            <div class="year content shorter">'14</div>
            <div class="year content summary">14</div>

        <div class="year content detail">2013</div>
            <div class="year content shorter">'13</div>
            <div class="year content summary">13</div>        
        
        <div class="year content detail">2012</div>
            <div class="year content shorter">'12</div>
            <div class="year content summary">12</div>
        
        <div class="year content detail">2011</div>
            <div class="year content shorter">'11</div>
            <div class="year content summary">11</div>
        
        <div class="year content detail">2010</div>
            <div class="year content shorter">'10</div>
            <div class="year content summary">10</div>
        
        <div class="year content detail bottom">2009</div>
            <div class="year content shorter">'09</div>
            <div class="year content summary">09</div>

    </div>



    <div class="sailing column">Sailing
        <div class="ss content aldo">Aldo Alessio
            <div class="type">Soto 30 Gentoo</div>               
            <div class="location">St Francis YC</div>                    
            <div class="detail text">1st - PHRF.  3 day regatta, almost a picket fence.  Testing the zipper system.</div>
            <div class="shorter text">1st-PHRF</div>
            <div class="summary text">1st</div>
        </div>

        <div class="ss content westpoint">Westpoint '17
            <div class="type">Moore 24 Firefly</div>               
            <div class="location">Sequoia YC</div>   
            <div class="detail text">1st - ULDP.  Race from Treasure Island to Sequoia Yacht Club in south bay.  Light wind, gybe on headers.</div>
            <div class="shorter text">1st-ULDP</div>
            <div class="summary text">1st</div>
        </div>

        <div class="ss content gg">Golden Gate Mids
            <div class="type">Soto 30 Gentoo</div>               
            <div class="location">Golden Gate YC</div>   
            <div class="detail text">1st - PHRF 2.  Seasonal series for the Manuel Fagundes Seaweed Soup Trophy.  Won the division but not the title.</div>
            <div class="shorter text">1st-PHRF2</div>
            <div class="summary text">1st</div>
        </div>

        <div class="ss content bbs">Rolex Big Boat '16
            <div class="type">Soto 30 Gentoo</div>               
            <div class="location">St Francis YC</div>   
            <div class="detail text">1st - Sportboat.  Around 150 boats total, largest on West Coast.  Raced with Ben Mitchell, Ben Mercer, and Scott Easom.</div>
            <div class="shorter text">1st-Sportboat</div>
            <div class="summary text">1st</div>
        </div>

        <div class="bb-college-gap"></div>

        <div class="ss content college">College Sailing
            <div class="type">FJ, Z420, Laser</div>               
            <div class="location">West Coast, USA</div>   
            <div class="detail text">
                President and PCCSC Exec Committee, 2yrs.  Trailered as far south as San Diego for regional events.  Girls went to nationals 2x.
            </div>
            <div class="shorter text">President & PCCSC Committee 2yrs.  Girls team nationals 2x.</div>
            <div class="summary text">President & PCCSC Committee 2yrs.</div>
        </div>

        <div class="ss content youths">Youth Champs
            <div class="type">C420
            </div>               
            <div class="location">USA
            </div>   
            <div class="detail text">2012 - Gorge, OR.  31st. (injured)</br>2011 - San Pedro, CA.  19th.</div>
            <div class="shorter text">2012 - Gorge<br/>2011 - San Pedro</div>
            <div class="summary text">2012<br/>2011</div>
        </div>

        <div class="ss content cisa">CISA
            <div class="type">C420
            </div>               
            <div class="location">Long Beach, CA
            </div>   
            <div class="detail text">California International Sailing Association.  Attended high performance clinic in 2010.</div>
            <div class="shorter text">High Performance Clinic, 2010.</div>
            <div class="summary text">2010</div>
        </div>

        <div class="ss content bemis">Junior Nationals
            <div class="type">C420</div>               
            <div class="location">USA</div>   
            <div class="detail text">2011 - Toms River, NJ<br/>2010 - San Diego, CA<br/>2009 - Marblehead, MA</div>
            <div class="shorter text">2011-Tr. 9th.<br/>2010-Sd. 18th.<br/>2009-Mhd. 8th.</div>
            <div class="summary text">2011<br/>2010<br/>2009</div>                                
        </div>

        <div class="ss content states">Hawai'i States
            <div class="type">C420</div>               
            <div class="location">Kaneohe, HI</div>   
            <div class="detail text">1st - 2010</br>1st - 2009</div>
            <div class="shorter text">1st-2010</br>1st-2009</div>
            <div class="summary text">1st - 10</br>1st - 09</div>                                        
        </div>

        <div class="ss content traps">Traps & Chutes
            <div class="type">C420</div>               
            <div class="location">Kaneohe, HI</div>   
            <div class="detail text">1st - 2010</br>1st - 2009</br>1st - 2008</br></div>
            <div class="shorter text">1st-2010</br>1st-2009</br>1st-2008</br></div>
            <div class="summary text">1st-08</br>1st-09</br>1st-10</br></div>
        </div>

    </div>

<!--
    <div class="trading column">Trading
    <div class="tt content options">Options</div>
    <div class="tt content equity">Equity</div>

    </div> 


-->
</div>